.clients {
	padding-bottom: 94px;
	padding-top: 94px;
}

.clients__list {
	display: flex;
	justify-content: center;
}

.clients__list > .clients__item:not(:last-child) {
	margin-right: 30px;
}

.clients__link {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 170px;
	height: 90px;
	color: var(--logo-company-color);
	border: 1px solid currentColor;
	border-radius: 4px;
	transition: color var(--animation);

	&:hover,
	&:focus {
		color: var(--button-cl);
	}
}

// .clients__link:hover,
// .clients__link:focus {
// 	color: var(--button-cl);
// }

.clients__icon {
	fill: currentColor;
}
